<template>
  <div>
    <p>line-height 建议设置数值问题</p>
    <pre>
      1.line-height 行高设置成百分比或者倍数，是相对于当前标签内font-size大小的，比如当前标签内容font-size:14px;line-height:1.2;那么行高就是28px;
      <code>
        p {
          font-size: 14px;
          line-height: 1.2; // 28px;
        }
      </code>
    </pre>
  </div>
</template>

<script>
export default {
  name: "css"
}
</script>

<style scoped>

</style>