<template>
  <div>
    <p>在 SSR 场景下，需要将组件包裹在 &lt;client-only&gt;&lt;/client-only&gt; 之中，组件仅在客户端渲染。</p>
    <h6>nuxt3引入element-plus</h6>
    <h6>全部引入</h6>
    <pre>
      1、安装element-plus依赖
      npm install element-plus --save
      2、在nuxt3项目中plugins下新建一个element-plus.client.ts文件
        import ElementPlus from 'element-plus'
        import { ID_INJECTION_KEY } from 'element-plus';
        export default defineNuxtPlugin(nuxtApp => {
            nuxtApp.vueApp.use(ElementPlus)
            nuxtApp.vueApp.provide(ID_INJECTION_KEY, {
                prefix: Math.floor(Math.random() * 10000),
                current: 0,
            })
        })
      3、在nuxt.config.ts文件中引入UI样式
        export default defineNuxtConfig({
           ...
            css: ['element-plus/dist/index.css'],
           ...
        })
    </pre>
    <h6>按需引入unplugin-element-plus</h6>
    <pre>
      1、安装依赖
        npm install element-plus --save
        npm install unplugin-element-plus -D
      2、在nuxt.config.ts文件中引入
        import ElementPlus from 'unplugin-element-plus/vite'
        export default defineNuxtConfig({
            css: ['element-plus/dist/index.css'],
            build: {
                transpile: ['element-plus/es'],
            },
            vite: {
                plugins: [
                    ElementPlus()
                ],
            }
        })
      3、在nuxt3项目中plugins下新建一个element-plus.ts文件
        import { ID_INJECTION_KEY } from 'element-plus';
        export default defineNuxtPlugin(nuxtApp => {
            nuxtApp.vueApp.provide(ID_INJECTION_KEY, {
                prefix: Math.floor(Math.random() * 10000),
                current: 0,
            })
        })
      4、在页面上引入使用
        &lt;template&gt;
            &lt;div&gt;
                &lt;el-button&gt;Default&lt;/el-button&gt;
            &lt;/div&gt;
        &lt;/template&gt;
        &lt;script lang='ts'&gt;
        import {
          ElButton
        } from "element-plus";
        &lt;/script&gt;
    </pre>
  </div>
</template>

<script>
export default {
  name: "element-plus"
}
</script>

<style scoped>

</style>