<template>
  <div>
    <pre>
      1. 虽然vue3已经支持template下面多节点，但是nuxt3并不支持，在template下直接写多节点导致的后果就是路由的时候出现空白页。
      2. 做开发过程中，经常出现空白页或者数据不请求，都是因为template下多节点导致。
      3. Nuxt 3的composables/目录下的文件会自动导入到您的应用程序中,无需额外导入。
      4. layouts中，文件命名不可以与html标签重名。
      5. components中，组件命名不可以html标签重名。
    </pre>
    <p>客户端渲染（CSR）和服务端渲染（SSR）的区别，我们知道 Nuxt 就是服务端渲染来进行 SEO 的。Nuxt 会按照约定，带有 .client 后缀的文件，会被设置成在客户端渲染。
      比如 element-plus.ts 和 element-plus.client.ts</p>
    <p>CSR 和 SSR 的优点与缺点</p>
    <ul>
      <li>
        <h6>CSR</h6>
        <p>优点：完全由浏览器下载并解析 JavaScript 代码后生成 HTML 元素，不用服务器分担渲染压力，同时也减少了网络传输。</p>
        <p>缺点：首屏加载慢，搜索引擎爬虫在第一次尝试索引页面时不会等待界面完全呈现，不利于 SEO。</p>
      </li>
      <li>
        <h6>SSR</h6>
        <p>优点：首屏渲染快，有利于 SEO，因为浏览器前端初次发请求时，服务端就会把已经渲染加载好的页面数据发过来，节约很多时间。爬虫也可以在没有等待的情况下对其进行索引。</p>
        <p>缺点：服务器和浏览器环境不提供相同的 API，双方需要保证衔接，而且会增加服务器压力，提高它的成本。</p>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "nuxt"
}
</script>

<style scoped>

</style>