<template>
  <NuxtLayout class="nuxt-content">
<!--      <NuxtLayout name="common"></NuxtLayout>-->
      <NuxtPage />
      <client-only>
        <el-backtop :right="40" :bottom="40"></el-backtop>
      </client-only>
  </NuxtLayout>
</template>
<script>

</script>
<style>
.page-enter-active,
.page-leave-active {
  transition: opacity 0.3s;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}

.layout-enter-active,
.layout-leave-active {
  transition: all 0.2s;
}
.layout-enter-from,
.layout-leave-to {
  filter: grayscale(1);
}
</style>