<template>
    <div class="footer-nav">
      Copyright&nbsp;&copy;2023&nbsp;mazhanghua.com&nbsp;<a href="https://beian.miit.gov.cn/" target="_blank">粤ICP备2023029475号</a>
      &ensp;<a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44011302003958" target="_blank"><img src="/gongan.png"/>粤公网安备 44011302003958号</a>
    </div>
</template>

<script>
export default {
  name: "FooterNav"
}
</script>

<style scoped>

</style>