<template>
    <header class="header-nav">
      <NuxtLink to="/">随缘日记</NuxtLink>
      <div class="nav">
        <nav><NuxtLink to="/">首页</NuxtLink></nav>
        <nav><NuxtLink to="/archive">归档</NuxtLink></nav>
        <nav><NuxtLink to="/note">笔记</NuxtLink></nav>
        <!--      <nav><NuxtLink to="/">面试</NuxtLink></nav>-->
        <nav><a href="https://github.com/zhanghuaMa" target="_blank">GitHub</a></nav>
        <nav><NuxtLink to="/about">关于网站</NuxtLink></nav>
      </div>
    </header>
</template>

<script>
export default {
  name: "HeaderNav"
}
</script>

<style lang="less" scoped>

</style>