<template>
  <div>
    {{msg}}
  </div>
</template>

<script>
import { defineComponent, ref} from 'vue';
export default defineComponent({
  name: "HelloWorld",
  setup(props, ctx) {
    const msg = ref('hello world component');
    return {
      msg
    };
  }
});
</script>

<style scoped>
  div{
    color: #f22;
  }
</style>