<template>
  <div>
    this is product {{id}}
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';
export default defineComponent({
  name: '[id]',
  setup() {
    const route = useRoute();
    const id = ref(route.params.id);
    return {
      id
    }
  }
})
</script>

<style scoped>

</style>