html, body{
    margin: 0;
    padding: 0;
    font-size: 16px;
}
h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}
p, pre {
    padding: 0;
    margin: 0.5rem 0;
    line-height: 24px;
}
ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: #333;
    font-size: 0.875rem;
}
.layout{
    position: relative;
}
.nuxt-common{
    color: #f22;
}
.nuxt-content{
    position: relative;
    font-size: 0.875rem;
    top: 2.5rem;
    padding: 0.5rem 1.5rem 20px;
}