.footer-nav{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 25px;
  line-height: 25px;
  z-index: 2000;
  text-align: center;
  font-size: 12px;
  color: #939393;
  align-items: center;
  background-color: #fff;
  a{
    color: #939393;
    font-size: 12px;
    img{
      width: 16px;
      height: 16px;
      position: relative;
      top: 3px;
    }
  }
}