.header-nav{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 2000;
  display: flex;
  height: 2.5rem;
  align-items: center;
  padding: 0 1.5rem;
  background-color: #f2f2f2;
  .nav{
    height: 2.5rem;
    position: absolute;
    right: 2rem;
    top: 0;
    display: flex;
    nav{
      float: left;
      font-size: 1.4rem;
      padding: 0 1rem;
      a{
        &:hover{
          border-bottom: 2px solid #46bd87;
        }
      }
    }
  }
}