.page-index{

}
.page-archive{
  ul {
    li {
      line-height: 24px;
      a{
        &:hover{
          border-bottom: 2px solid #46bd87;
        }
      }
    }
  }
}
.page-error{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem 0;
}