<template>
  <div class="page-error">
    <h3>404访问资源不存在</h3>
    <p>{{ errMsg }}</p>
  </div>
</template>
<script lang="ts">
import { defineComponent, ref } from 'vue';
export default defineNuxtComponent({
  name: "error",
  setup() {
    const errMsg = ref('生活总归带点荒谬，乐观点')
    return {
      errMsg
    }
  }
})
</script>
<style scoped>

</style>