<template>
  <div class="page-about">
<!--    <ContentDoc v-slot="{ doc }">-->
<!--      <h1>{{ doc.title }}</h1>-->
<!--      <ContentRenderer :value="doc" />-->
<!--    </ContentDoc>-->
    <Head>
      <Title>关于网站</Title>
    </Head>
    <p>这是一个基于nuxt3 + element plus做的网站，学习中，争取每天进步一点点。</p>
    <p>记录学习过程中的坑，疑难点，常用笔记。</p>
  </div>
</template>

<script>
import { defineComponent, reactive } from "vue";
export default defineComponent({
  name: "about",
  setup() {
    let list = [{
      title: '1',
      description: 'dddd'
    }, {
      title: '2',
      description: 'dd333dd'
    }]
    let doc = {
      title: 'dddd二万人'
    }
    return {
      list,
      doc
    }
  }
});
</script>

<style scoped>

</style>