<template>
  <div class="page-archive">
    <Head>
      <Title>归档</Title>
    </Head>
    <ul>
      <li><NuxtLink to="/archive/css">css查漏补缺</NuxtLink></li>
      <li><NuxtLink to="/archive/nuxt">nuxt3踩坑记录</NuxtLink></li>
      <li><NuxtLink to="/archive/element-plus">element-plus引入</NuxtLink></li>
    </ul>
    <NuxtPage></NuxtPage>
  </div>
</template>

<script>
export default {
  name: "archive"
};
</script>

<style scoped>

</style>