<template>
  <div class="page-index">
    <p>在nuxt中页面都是放在pages文件夹下，它会根据文件名自动生成路由，取名为index.vue表明默认显示页面</p>
    <h4>Nuxt路由基于vue-router，根据文件名从pages/目录中创建的每个组件生成路由</h4>
    <p>要使用pages，在目录pages下index.vue。添加&lt;NuxtPage/&gt; 组件到app.vue 文件，默认会使用pages目录下的index.vue作为起始文件。</p>
    <p>Nuxt3 vue文件，不像vue3可以没有根元素，Nuxt3的每个vue文件都需要有根元素</p>
    <h4>Nuxt3是约定大于配置的开发</h4>
    <p>NuxtLink标签的使用</p>
    <p>Nuxt框架不鼓励我们使用&lt;a&gt; 标签进行跳转，而是使用&lt;NuxtLink&gt;&lt;/NuxtLink&gt;标签进行跳转。</p>
    <h4>Nuxt3动态路由的使用</h4>
    <p>单参数的传递只要在页面的文件名中用[ ]扩起来就可以了。比如新建一个页面，叫做 demo-[id].vue</p>
    <h4>Nuxt3 自订错误页面</h4>
    <p>Nuxt3预设的错误页面为error.vue, 与app.vue同级，not found路由默认会访问该页面内容。</p>
    <h4>useRoute vs useRouter</h4>
    <p>useRoute 返回当前路由 必须在setup函数、插件或路由中间件中调用。</p>
    <p>useRouter 返回路由器实例，必须在设置函数、插件或路由中间件中调用。</p>
  </div>
</template>

<script>
export default {
  name: "index",
  setup() {
    nextTick(() => {
      console.log('首页 nextTick')
    })
    return {

    }
  }
}
</script>

<style scoped>

</style>