<template>
  <div>
    <Head>
      <Title>笔记</Title>
    </Head>
    <p>Nuxt3中SEO相关配置</p>
    <p>nuxt.config.ts:</p>
    <pre>
      app: {
        pageTransition: { name: 'page', mode: 'out-in' },
        layoutTransition: { name: 'layout', mode: 'out-in' },
        head: {
          charset: 'utf-8',
          viewport: 'width=device-width, initial-scale=1, maximum-scale=1',
          title: '随缘日记',
          meta: [
            { name: 'description', content: '随缘日记的前端博客' },
            { name: 'keywords', content: '随缘日记' }
          ]
        }
      }
    </pre>
  </div>
</template>

<script>
export default {
  name: "index"
}
</script>

<style scoped>

</style>